@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  body {
    background-color: black;
    @apply font-sans;
    color: white;
    font-size: 18px;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 50px;
  }

  div {
    box-sizing: border-box;
  }

  a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
  }

  a:hover {
    opacity: 1;
  }

  input {
    border: none;
    padding: 0;
    cursor: pointer;
  }

  ul {
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
}

@layer components {
  .homeContainer {
    @apply w-full mx-auto pb-18 grid grid-cols-5 gap-6 150-200:grid-cols-4 110-150:grid-cols-3 110:grid-cols-2;
  }

  .searchContainer {
    @apply bg-darkGray rounded-md p-5 flex flex-col justify-between gap-5 100:p-2;
  }

  .searchContainer input {
    @apply bg-darkGray text-2xl text-white;
  }

  .searchContainer input[type='submit'] {
    @apply hover:scale-125;
  }

  .searchContainerBox {
    @apply w-250 mx-auto mb-5 325:w-11/12;
  }

  .searchMiniContainer {
    @apply flex-1 125:w-full;
  }

  .searchMiniContainer input[type='submit'] {
    @apply w-min ml-auto;
  }

  .scroll::-webkit-scrollbar {
    @apply bg-darkGray rounded-r-md;
  }

  .scroll::-webkit-scrollbar-thumb {
    @apply bg-white rounded-r-md;
  }
}
